In [49]:
import pandas as pd
from IPython.display import display

In [50]:
path = '../data/raw/data.csv'
df = pd.read_csv(path, sep=',', encoding='ISO-8859-1')
display(df.head())

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [51]:
# display(df.shape[1])
display(f'O dataset tem {df.shape[0]} linhas e {df.shape[1]} colunas')

'O dataset tem 541909 linhas e 8 colunas'

In [52]:
print('Tabelas com valores nulos')
display(df.isnull().sum())

Tabelas com valores nulos

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [53]:
#Removendo linhas com CustomerID nulos
df = df[df['CustomerID'].notnull()]

In [54]:
print('Primeiras linhas do dataset')
display(df.head())
print('Ultimas linhas do dataset')
display(df.tail())

Primeiras linhas do dataset

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Ultimas linhas do dataset

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [55]:
print('Estatísticas descritivas')
display(df.describe())

Estatísticas descritivas

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [56]:
print('Tipos das colunas')
display(df.dtypes)

Tipos das colunas

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [61]:
#Convertendo InvoiceDate para data
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')

In [57]:
print('Verificando dados duplicados por coluna')
duplicados_por_coluna = df.apply(lambda x: x.duplicated().sum())
display(duplicados_por_coluna)

Verificando dados duplicados por coluna

InvoiceNo      384639
StockCode      403145
Description    402933
Quantity       406393
InvoiceDate    386369
UnitPrice      406209
CustomerID     402457
Country        406792
dtype: int64

In [58]:
# Contar valores únicos em CustomerID
unicos_customerID = df['CustomerID'].nunique()
print(f'Número de valores únicos em CustomerID: {unicos_customerID}')

Número de valores únicos em CustomerID: 4372